@model AlsCompras.Models.AreaVehicle.VehicleValuation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleValuation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleEquipamentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleEquipamentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceValuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceValuation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOrigin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
