@model AlsCompras.Models.AreaVehicle.VehicleValuation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleValuation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleEquipamentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleEquipamentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceValuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceValuation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrmClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrmClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOrigin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
